@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/OpenSans.woff2') format('woff2');
}

body,
html {
    font-family: 'Open Sans', sans-serif;
    overscroll-behavior: none;
    min-height: 100%;
}